name: CI/CD Spring Boot to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1 Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2 Java 17
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3 Build
      - name: Build with Maven
        run: mvn clean package -DskipTests
        working-directory: estocai-api

      # 4 Print target folder
      - name: Show target folder
        run: ls -l estocai-api/target

      # 5 Copia o .jar
      - name: Copy jar to EC2
        uses: appleboy/scp-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "estocai-api/target/*.jar"
          target: "/home/ec2-user/app"
          strip_components: 2

      # 6 Reinicia o serviço
      - name: Restart estocai-api systemd service
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Parando serviço..."
            sudo systemctl stop estocai-api || true

            echo "Atualizando variáveis de ambiente..."
            sudo sed -i "s|Environment=DB_URL=.*|Environment=DB_URL=${{ secrets.DB_URL }}|" /etc/systemd/system/estocai-api.service
            sudo sed -i "s|Environment=DB_USERNAME=.*|Environment=DB_USERNAME=${{ secrets.DB_USERNAME }}|" /etc/systemd/system/estocai-api.service
            sudo sed -i "s|Environment=DB_PASSWORD=.*|Environment=DB_PASSWORD=${{ secrets.DB_PASSWORD }}|" /etc/systemd/system/estocai-api.service
            sudo sed -i "s|Environment=JWT_SECRET_KEY=.*|Environment=JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}|" /etc/systemd/system/estocai-api.service

            echo "Recarregando systemd..."
            sudo systemctl daemon-reload

            echo "Iniciando serviço..."
            sudo systemctl start estocai-api

            echo "Status final:"
            sudo systemctl status estocai-api --no-pager
