name: CI/CD Spring Boot to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        working-directory: estocai-api
        run: mvn clean package -DskipTests

      - name: Show target folder
        run: ls -l estocai-api/target

      - name: Copy jar to EC2
        uses: appleboy/scp-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "estocai-api/target/*.jar"
          target: "/home/ec2-user/app"
          strip_components: 2

      - name: Restart Spring Boot App on EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Limpando instâncias antigas..."
            sudo fuser -k 8080/tcp || true

            echo "Iniciando nova versão..."
            cd /home/ec2-user/app

            export DB_URL=${{ secrets.DB_URL }}
            export DB_USERNAME=${{ secrets.DB_USERNAME }}
            export DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            export JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}

            # Variáveis de e-mail
            export MAIL_USERNAME=${{ secrets.MAIL_USERNAME }}
            export MAIL_HOST=${{ secrets.MAIL_HOST }}
            export MAIL_PORT=${{ secrets.MAIL_PORT }}
            export MAIL_STARTTLS=${{ secrets.MAIL_STARTTLS }}
            export GMAIL_OAUTH_CLIENT_ID=${{ secrets.GMAIL_OAUTH_CLIENT_ID }}
            export GMAIL_OAUTH_CLIENT_SECRET=${{ secrets.GMAIL_OAUTH_CLIENT_SECRET }}
            export GMAIL_OAUTH_REFRESH_TOKEN=${{ secrets.GMAIL_OAUTH_REFRESH_TOKEN }}

            export APP_URL=${{ secrets.APP_URL }}
            export STRIPE_SECRET=${{ secrets.STRIPE_SECRET }}
            export STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET }}                        

            nohup java -Dspring.profiles.active=prod -jar *.jar > app.log 2>&1 &
            echo "Aplicação reiniciada com sucesso!"

